<!doctype html>
<html>
<link rel="stylesheet" href="{{ url_for('static',filename='semantic/semantic.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='default.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='custom.css') }}">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="ui top fixed inverted menu main">
    <a class="launch icon item">
        <i class="content icon"></i>
    </a>
</div>

<div class="ui sidebar inverted vertical menu" id="sidebar">
    {% include 'problem_list.html' %}
</div>
<div class="pusher">
    {% block main %}{% endblock %}
</div>

<script src="{{ url_for('static',filename='jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='semantic/semantic.js') }}"></script>
<script src="{{ url_for('static',filename='jquery.pjax.js') }}"></script>
<script src="{{ url_for('static',filename='custom.js') }}"></script>
</body>
</html>