<!doctype html>
<html>
<link rel="stylesheet" href="{{ url_for('static',filename='semantic/semantic.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='default.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='custom.css') }}">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="ui top fixed inverted menu main borderless">
    <a class="launch icon item">
        <i class="content icon"></i>
    </a>

    <a class="item" id="prev">
        <i class="left arrow icon"></i>
        上一题
    </a>
    <div class="right menu compact" style="width: 100%;text-align: center;">
        <div class="item" style="width: 100%;">
            <div class="center aligned" style="width: 100%;" id="nav_title">
                标题
            </div>
        </div>
    </div>
    <div class="ui item search right">
        <div class="ui inverted transparent icon input right">
            <input class="prompt" id="problem_id" placeholder="跳转题号" style="width: 6em">
            <i class="chevron circle right link icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <a class="item right" id="next">
        <i class="right arrow icon"></i>
        下一题
    </a>
</div>

<div class="ui sidebar inverted vertical menu" id="sidebar">
    {% include 'problem_list.html' %}
</div>
<div class="pusher">
    {% block main %}{% endblock %}
</div>

<script src="{{ url_for('static',filename='jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='semantic/semantic.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery.pjax.js') }}"></script>
<script src="{{ url_for('static',filename='custom.js') }}"></script>
</body>
</html>